HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Secrets
.env

# Logs
logs/