<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATH" value="logs"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5p){highlight} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr([reqId:%X{requestId:-N/A}]){yellow} %clr([actor:%X{actorType:-N/A}-%X{actorCode:-N/A}]){green} %clr(:){faint} %clr(%m){blue} %kvp%n%wEx"/>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>

    </appender>


    <!-- JSON File -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/application.log</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp/>

                <logLevel/>

                <loggerName/>

                <threadName/>

                <message/>

                <mdc/>

                <keyValuePairs/>

                <stackTrace/>

            </providers>

        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/application.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>

            <maxHistory>30</maxHistory>

            <totalSizeCap>5GB</totalSizeCap>

        </rollingPolicy>

    </appender>


    <!-- Logger overrides -->
    <logger name="ExceptionLogger" level="DEBUG"/>


    <!-- Root -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

        <appender-ref ref="FILE"/>

    </root>

</configuration>